<mat-expansion-panel class="card" (opened)="opened()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{project.slug | uppercase}}
    </mat-panel-title>
    <mat-panel-description>
      <span *ngIf="ksData">
        <span>KS: <span [style.color]="ksData[1] < 0.1 ? 'red' : 'black'">{{ksData[1] | number:'1.4-4'}} </span></span>
      </span>
      <span *ngIf="averages">
        <span> Volume change: {{(averages.right / averages.left - 1) * 100 | number:'1.2-2'}}%</span>
      </span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <a href="https://sanbase-low.santiment.net/projects/{{project.slug}}">Show more</a>
  <div [chart]="chart"></div>
</mat-expansion-panel>
